* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    height: auto;
    width: auto;
    display: grid;
    place-items: center;
}

.hero{
    top: 0px;
    height: 14vh;
    width: 200vh;
    background-color: rgba(28, 21, 13, 0.473);
    background-size: auto;
    background-position: center;
    position: relative;
}

.Begining{
    height: 100vh;
    width: 200vh;
    background-size: cover;
    background-position: center;
    background-image:url('image/EB.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    
}

.main{
    width: 10px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;  
    }

    .about-text h2{
    color: white;
    margin-bottom: 25px;
    font-size: 75px;
    text-transform: capitalize; 
	 background-image:url('image1/data.jpg');
}

.btn{
    background-color: #36b11d;
    color: white;
    text-decoration: none;
    border: 2px soild transparent;
    font-weight: bold;
    padding: 13px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);
	color: #36b11d;
}

.content{
    position: absolute;
    top: 50%;
    transform: translateX(100%);
    align-items: center;
}

.text2{
    color: #f9004d;
    font-size: 18px;
    margin: 20px 0px 20px;
    text-align: center;
}

.text5{
    color: whitesmoke;
    font-size: 18px;
    margin: 20px 0px 20px;
    text-align: center;
}

.text6{
    color: #e4610a;
    font-size: 18px;
    margin: 20px 0px 20px;
    text-align: center;
}

.text7{
    color: whitesmoke;
    font-size: 18px;
    margin: 20px 0px 20px;
    text-align: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #36b11d;
}

a{
    text-decoration: none;
    color: aliceblue;
}

nav ul li{
    list-style-type: name;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color:#e4610a;
    transition: .4s;
}

.text1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
    animation: text 2s 1;
    margin-top: 5px;
}

.text3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
    animation: text 2s 1;
    margin-top: -10px;
}

.text4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
    padding-top: 15px;
    margin-top: -20px;
    animation: text 2s 1;

}

@keyframes text{
    10%{
        color: transparent;
        margin-bottom: 20px;
    }
    30%{
        letter-spacing: 6px;
        margin-bottom: -6px;
    }
    85%{
        letter-spacing: 2px;
        margin-bottom: 4px;
    }
}

.newslatter form{
    width: 370px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #36b11d;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #e4610a;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
    transition: transform .2s;
}

.newslatter form input:last-child:hover{
    transform: scale(1.1);
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: rgba(1, 1, 1, 0.972);
}

.about img{
    height: 430px;
    width: 430px;
}

.about-text{
    width: 550px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background-color: #36b11d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid #36b11d;
    cursor: pointer;
}

.service{
    background: rgba(1, 1, 1, 0.979);
    width: 100%;
    padding: 100px 0px;
}


.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.cards{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.cards i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #36b11d;

}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}.button:hover{
    background-color: transparent;
    border: 2px soild #36b11d;
    cursor: pointer;
    transition: .2s;
}

.cards .button{
    background-color: #36b11d;
    color: white;
    text-decoration: none;
    border: 2px soild transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: transform .4s;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: rgba(1, 1, 1, 0.979);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    line-height: 26px;
    text-align: center;
}

.social{
    display: flex;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #36b11d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}

.end{
    position: absolute;
    color: #36b11d;
    bottom: 35px;
    font-size: 14px;
}